body {
    background-color: rgb(239, 236, 144);
    font-family: 'Arial';
    /* https://www.w3schools.com/cssref/css_websafe_fonts.php */
    padding: 20px;
    margin: 0px;

    display: flex;
    flex-direction: column;

    min-height: 100vh;

    box-sizing: border-box;
}

h1 {
    margin-top: 0px;
}

a {
    color: white;
    padding: 10px;
    text-decoration: none;
    background-color: black;
    display: inline-block;
    border-radius: 6px;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 14px;
}

a:hover {
    background-color: white;
    color: black;
}

nav {
    position: absolute;
    top: 20px;
    right: 20px;
}

header {
    border-bottom: solid 1px;
}

ul {
    padding-left: 0px;
}

li {
    list-style: none;
    border-bottom: solid 1px;
    padding: 5px;
}

main {
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

aside {
    width: max(20vw, 250px);
}

#portfolio ul {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

}

#portfolio li {
    border-bottom: none;
}

.obra {
    max-height: 270px;
    overflow: hidden;
    border-radius: 12px;
    padding: 0px;
    box-shadow:2px 2px 5px  rgba(0, 0, 0, 0.2);
    width: calc((100% - 40px)/3);
}

.obra h3 {
    margin-top: 0px;
    position: absolute;
    color: white;
    margin: 16px;
    font-size: 38px;
    font-weight: 100;
   text-shadow:2px 2px 12px black;
   /* https://www.w3schools.com/css/css3_shadows.asp */
}

.obra img {
    margin: 0px;
    object-fit: cover;
    height: 270px;
    width: 100%;
}

#down {}