body{
    font-family: Arial, Helvetica, sans-serif;
}
main{
    background-color: aquamarine;
}
header{
    background-color: green;
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 10px;
}